QPushButton{background-color:black;\
            color: white;\
            border-radius:10px;\
            border: 2px groove gray;\
            border-style: outset;}"
"QPushButton:hover{background-color:white;\
                  color: black;}"
"QPushButton:pressed{background-color:rgb(85, 170, 255);\
                                     border-style: inset; }